<div class="card">
  <div class="card-avatar">
    <%= image_tag "meduse.jpg", alt:"cool meduse", class:"img-big-avatar", width:280, height:280%>
  </div>
  <div class="container">
   <h4>Ysalien</h4>
   <p>Happy jellyfish</p>
  </div>
</div>
